<%- include('header') -%>
<div class="container">
<ul>
<% data.forEach((question, question_index) => { %>
    <li>
        <pre><%= question.question %></pre>
        <% if (question.correct) { %>
            <h2>Correct!</h2>
        <% } else { %>
            <h2>Incorrect...</h2>
        <% } %>
        <p>You answered:</p>
        <%= question.user_answer %>
        <p>Correct answer:</p>
        <%= question.answer %>
    </li>
<% }) %>
</ul>
</div>
<%- include('footer') -%>